.card{
    width: 15rem;
    min-height: 300px;
    box-shadow: 15px 15px 37px rgba(255, 254, 254, 0.14);
    background: linear-gradient(145.88deg, #11162A 20.19%, #2D355A 96.81%);
    margin: 1rem;
    text-align: center;
}
.card svg{
    width: 13vw;
}
.indicator{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

@media screen and (max-width : 575px) {
    .card{
        width: 100%;
        /* min-height: 200px; */
        overflow: hidden;
        margin: 1rem auto;
    }
    .card svg{
        width: 35vw;
        translate: -14vw;
    }
.indicator{

    width: 55%;
}
  }