nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 5rem;
} 

.navbar{
    background: transparent;
}
nav, nav a , .navLink{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 22px;
}
.navLink:hover , .brand {
    /* background: var(--primarry-green); */
    color:dimgrey;
    transition: all .2s;
}
.brand {
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    font-weight: 700;
}
.brand span{
    color: var(--primarry-green);
}
nav :not(.brand) a{
    padding:.5rem 1rem;
}
/* nav :not(.brand) a:hover{
    background: var(--primarry-green);
    transition: all .2s;
} */

@media screen and (max-width : 575px) {
    .navbar .navbar-toggler-icon{
        color: var(--white);
        filter: invert(1);
    }
    .brand{
      font-size: 20px;
    }    
  }