.App {
  max-width: 1320px;
  margin: auto;
}

@media screen and (max-width >= 1400px) {
  .App{
    width: 1320px;
  }
  
}
@media screen and (max-width >= 1200px) {
  .App{
    width: 1440px;
  }
  
}
@media screen and (max-width >= 992px) {
  .App{
   width: 960px;
  }
  
}
@media screen and (max-width >= 768px) {
  .App{
    width: 720px;
  }    
}
@media screen and (max-width >= 576px) {
  .App{
    width: 540px;
  }
  
}

@media screen and (max-width < 576px) {
  .App{
    width: 100%;
  }
  
}